<html>
    <body>
      <div>
        <form action='/play' method="post">
          <label for="player1">Player 1 </label>
          <input type="text" id="player1" name="player1"
        placeholder="Player 1 name">
          <label for="player2">Player 2 </label>
          <input type="text" id="player2" name="player2"
        placeholder="Player 2 name">
          <input type="submit" value="LET'S BATTLE!">
        </form>
      </div>
    </body>
  </div>

  <style>
  body {
      background: url(https://storybookstorage.s3.amazonaws.com/items/images/000/330/113/original/20160406-6-jz2jcr.jpg?1459971818);
      background-size: 100% 100%;
      background-repeat: no-repeat;
  }

  input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }

  input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  input[type=submit]:hover {
      background-color: #45a049;
  }

  div {
      border-radius: 5px;
      background-color: transparent;
      padding: 20px;
  }
  </style>
</html>
