<html>
  <body>
      <div style="width: 95%;overflow:auto;">
        <div style="float:left;">
            <img src="http://cdn.images.dailystar.co.uk/dynamic/205/photos/433000/620x/591726b2a5e34_JeremyCorbynDog.jpg" width="500">
            <figcaption> <%= @player1 %> </figcaption>
            <figcaption> Votes: <%= @player1_hp %> </figcaption>
        </div>
        <div style="float:right;">
            <img src="http://i.dailymail.co.uk/i/pix/2017/02/15/21/3D41404B00000578-0-image-a-15_1487194464832.jpg" width="560">
            <figcaption> <%= @player2 %> </figcaption>
            <figcaption> Votes: <%= @player2_hp %> </figcaption>
        </div>
      </div>
  </body>
</html>

<style>

figcaption {
  text-align: center;
  font-size: 50px;

}
</style>
